@model AutoPublication.Models.PublicationModel
@{
    ViewBag.Title = "Автовыкладка";
    var buildListForDropdown = Model.ZipBuildItems
        .Select(zbp => new SelectListItem {
            Value = zbp.FilePath,
            Text = zbp.FilePath.Substring(zbp.FilePath.LastIndexOf('\\') + 1)
        })
        .OrderByDescending(zbp => zbp.Text)
        .ToList();
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>
<form class="form-inline" action="@Url.Action("AddPublicationPath")">
    <h4>
        Добавить проект на публикацию
    </h4>
    <div class="form-group">
        <label for="projectName">Имя проекта</label>
        <input type="text" class="form-control" id="projectName" name="publishItem.ProjectName" placeholder="Project Name">
    </div>
    <div class="form-group">
        <label for="projectPath">Путь на сервере</label>
        <input type="text" class="form-control" id="projectPath" name="publishItem.ProjectPath" placeholder="c:\inetpub\...">
    </div>
    <button type="submit" class="btn btn-primary">Add project</button>
</form>
<br />
<hr />
<h3>Активные проекты</h3>
<br />
<table class="table">
    <tr>
        <th>Имя проекта</th>
        <th>Путь на сервере</th>
        <th>Имя последнего билда</th>
        <th></th>
        <th>Дата публикации</th>
        <th>
            <div class="pull-right">
                Builds <a href="@Url.Action("UpdateBuildList")" class="btn btn-success">Обновить</a>
            </div>
        </th>
    </tr>
    @foreach (var buildPublishItem in Model.BuildPublishItems) {
        <tr>
            <td>@buildPublishItem.ProjectName</td>
            <td>@buildPublishItem.ProjectPath</td>
            <td>@buildPublishItem.BuildName</td>
            <td>
                <form action="@Url.Action("RemovePublishPath")">
                    <input type="hidden" name="publishItem.ProjectName" value="@buildPublishItem.ProjectName" />
                    <input type="hidden" name="publishItem.ProjectPath" value="@buildPublishItem.ProjectPath" />
                    <button type="submit" class="btn btn-danger btn-xs" title="Удалить проект">X</button>
                </form>
            </td>
            <td>@buildPublishItem.ProjectPublishDate</td>
            <td>
                <form action="@Url.Action("PublishBuild")" class="pull-right">
                    <input type="hidden" name="publishItem.ProjectName" value="@buildPublishItem.ProjectName"/>
                    <input type="hidden" name="publishItem.ProjectPath" value="@buildPublishItem.ProjectPath"/>
                    @Html.DropDownList("pathToBuild", buildListForDropdown.Select(bl => {
                        bl.Selected = bl.Text == buildPublishItem.BuildName;
                        return bl;
                    }))
                    <button type="submit" class="btn btn-default btn-sm">Публиковать</button>
                </form>
            </td>
        </tr>
    }
</table>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>