@using CommonUtils.ExtendedTypes
@using Project_B.CodeClientSide.TransportType.ModerateTransport
@model List<RawEntityWithLink>

@foreach (var item in Model) {
    <li data-id="@item.RawID" data-uniqueid="@item.EntityID" data-type="@item.BrokerEntityType">
        <label>
            <input type="checkbox" value="@item.EntityID" name="ids" />
            <span data-uniqueid="@item.EntityID" data-type="@item.BrokerEntityType" data-tooltip="true">@item.EntityName.StrJoin(" | ") <b>ID=@item.EntityID</b></span>
        </label>
        <br /><br />
    </li>
}