@using Project_B.CodeClientSide.TransportType.ModerateTransport
@model Tuple<RawEntityWithLink>

<h3 data-target="true"></h3>
@if (Model.Item1.EntityID != default(int)) {
    <button class="btn btn-xs btn-danger" data-request="DELETE" data-id="@Model.Item1.RawID" data-type="@Model.Item1.BrokerEntityType">Удалить привязку</button>
} else {
    <button class="btn btn-xs btn-danger" data-request="PUT" data-id="@Model.Item1.RawID" data-type="@Model.Item1.BrokerEntityType">Создать привязку</button>
}
<hr />
<div class="btn-group">
    <button class="btn btn-default" onclick="toggleSearchType('#byName');">По имени</button>
</div>
<script type="text/javascript">
    function toggleSearchType(target) {
        $('#byName,#joinEntity').hide();
        $(target).show();
    }
    function initTooltip(target) {
        target.tooltip({
            items: target,
            content: function () {
                var pars = [];
                $.each(window.ninjaBag.documentObjects.linker.urlParamsReader($(this)), function (i, el) { pars.push(i + '=' + el) });
                return $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetTooltip")'.toLowerCase() + '?' + pars.join('&'),
                    async: false
                }).responseText;
            }
        });
    }
</script>
<hr />
<div id="byName">
    <input type="text" id="liveSearchName" placeholder="Search" value="@Model.Item1.RawName" style="padding-right: 24px; margin-right: -24px; width: 500px; max-width: 500px;">
    <span class="glyphicon glyphicon-search" style="vertical-align: text-top;" onclick=""></span>
    <script>
        $(function() {
            $('#liveSearchName').liveSearch({
                url: '@Url.Action("LiveSearch", new {type = Model.Item1.BrokerEntityType, id = Model.Item1.RawID})&search='.toLowerCase(),
                appendTo: $('#liveSearchTarget'),
                onSuccessFunc(data) {
                    initTooltip($('#liveSearchTarget span[data-tooltip]'));
                }
            });
        });
    </script>
    <br/><br/>
    <form action="@Url.Action("EntityLinker")" id="formJoinEntity" method="POST">
        <input type="hidden" name="type" value="@Model.Item1.BrokerEntityType" />
        <input type="hidden" name="id" value="@Model.Item1.RawID" />
        <ul id="liveSearchTarget"></ul>
        <button type="submit" class="btn btn-primary">Соединить и привязать</button>
        <script>
        $(function () {
            $('#formJoinEntity').ajaxForm(window.ninjaBag.documentObjects.linker.hide);
        });
        </script>
    </form>
</div>