@using Project_B.CodeClientSide.TransportType.ModerateTransport
@model Tuple<RawEntityWithLink, List<RawEntityWithLink>>

<h3 data-target="true"></h3>
@if (Model.Item1.EntityID != default(int)) {
    <button class="btn btn-xs btn-danger" data-request="DELETE" data-id="@Model.Item1.RawID" data-type="@Model.Item1.BrokerEntityType">Удалить привязку</button>
} else {
    <button class="btn btn-xs btn-danger" data-request="PUT" data-id="@Model.Item1.RawID" data-type="@Model.Item1.BrokerEntityType">Создать привязку</button>
}
<hr />
<div class="btn-group">
    <button class="btn btn-default" onclick="toggleSearchType('#byNear');">Ближайшие</button>
    <button class="btn btn-default" onclick="toggleSearchType('#byName');">По имени</button>
    <button class="btn btn-warning" onclick="toggleSearchType('#joinEntity');">Соединить</button>
</div>
<script type="text/javascript">
    function toggleSearchType(target) {
        $('#byNear,#byName,#joinEntity').hide();
        $(target).show();
    }
    function initTooltip(target) {
        target.tooltip({
            items: target,
            content: function () {
                var pars = [];
                $.each(window.ninjaBag.documentObjects.linker.urlParamsReader($(this)), function (i, el) { pars.push(i + '=' + el) });
                return $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetTooltip")'.toLowerCase() + '?' + pars.join('&'),
                    async: false
                }).responseText;
            }
        });
    }
</script>
<hr />
<ul id="byNear" style="display: none;">
    @Html.Partial("_ListRawEntityWriter", Model.Item2)
</ul>
<div id="byName">
    <input type="text" id="liveSearchName" placeholder="Search" value="@Model.Item1.RawName" style="padding-right: 24px; margin-right: -24px; width: 250px;">
    <span class="glyphicon glyphicon-search" style="vertical-align: text-top;" onclick=""></span>
    <script>
        $(function() {
            $('#liveSearchName').liveSearch({
                url: '@Url.Action("LiveSearch", new {type = Model.Item1.BrokerEntityType, id = Model.Item1.RawID})&search='.toLowerCase(),
                appendTo: $('#liveSearchTarget'),
                onSuccessFunc(data) {
                    window.ninjaBag.documentObjects.linker.bindLinkEvent($('#liveSearchTarget'));
                    initTooltip($('#liveSearchTarget li[data-tooltip]'));
                }
            });
        });
    </script>
    <br/><br/>
    <ul id="liveSearchTarget"></ul>
</div>
<div id="joinEntity" style="display: none;">
    <input type="text" id="liveSearchJoin" placeholder="Search" value="@Model.Item1.RawName" style="padding-right: 24px; margin-right: -24px; width: 250px;">
    <span class="glyphicon glyphicon-search" style="vertical-align: text-top;" onclick=""></span>
    <script>
        $(function () {
            $('#liveSearchJoin').liveSearch({
                url: '@Url.Action("LiveSearchJoin", new {type = Model.Item1.BrokerEntityType, id = Model.Item1.RawID})&search='.toLowerCase(),
                appendTo: $('#liveSearchJoinTarget'),
                onSuccessFunc(data) {
                    initTooltip($('#liveSearchJoinTarget [data-tooltip]'));
                }
            });
            $('#formJoinEntity').ajaxForm(function () { window.ninjaBag.documentObjects.linker.popup.hide(); });
        });
    </script>
    <br/><br/>
    <form action="@Url.Action("joinentity")" id="formJoinEntity">
        <input type="hidden" name="type" value="@Model.Item1.BrokerEntityType"/>
        <div id="liveSearchJoinTarget">
        </div>
        <button type="submit" class="btn btn-primary">Соединить</button>
    </form>
</div>