@using CommonUtils.ExtendedTypes
@using Project_B.CodeClientSide.Helper
@using Project_B.CodeServerSide.DataProvider.DataHelper
@model Project_B.Models.StaticPageBaseModel<Project_B.Models.WithFilterModel<List<Project_B.CodeClientSide.TransportType.ModerateTransport.SystemStateSummaryStatus>>>

@{
    var route = Model.ControllerModel.Filter.ToRoute();
    Model.AdditionHtmlAssets.Add(BookmakerHtmlHelper.BOOKMAKER_S);
}

@helper CellRenderer(int linked, int raw, string action, RouteValueDictionary routeValues){
    <td>
        @if (raw > 0) {
            <b>@(linked*100/raw)% </b>
        }<a href="@Url.Action(action, routeValues)">@(linked)/@(raw)</a>
    </td>
}

@Html.Partial("Element/_SearchFilter", Model.ControllerModel.Filter)
<hr/>

<table class="table">
    <thead>
        <tr>
            <td>Broker</td>
            <td>Language</td>
            <td>CompetitionItem</td>
            <td>Competitor</td>
            <td>Competition</td>
            <td>CompetitionSpecify</td>
        </tr>
    </thead>
    <tbody>
    @foreach(var row in Model.ControllerModel.Data) {
        var broker = BookmakerHtmlHelper.Instance.GetBroker(row.BrokerID);
        route["id"] = row.BrokerID;
        route["languagetype"] = row.Languagetype;
        <tr>
            <td><span class="@broker.IconClass"></span> @broker.TargetUrl.CutWww()</td>
            <td>@LanguageTypeHelper.Instance.GetLanguageName(row.Languagetype).Item1</td>
            @CellRenderer(row.CompetitionItemLinkedCount, row.RawCompetitionItemCount, "CompetitionItem", route)
            @CellRenderer(row.CompetitorLinkedCount, row.RawCompetitorCount, "Competitor", route)
            @CellRenderer(row.CompetitionLinkedCount, row.RawCompetitionCount, "Competition", route)
            @CellRenderer(row.CompetitionSpecifyLinkedCount, row.RawCompetitionSpecifyCount, "CompetitionSpecify", route)
        </tr>
    }
    </tbody>
</table>
