@using System.Web.Mvc
@using CommonUtils.ExtendedTypes
@using Project_B.CodeClientSide.Enums
@using Project_B.CodeClientSide.Helper
@using Project_B.CodeClientSide.TransportType
@using Project_B.CodeServerSide.Enums
@functions {
    private new static System.Web.Mvc.HtmlHelper Html {
        get {
            return ((WebViewPage)WebPageContext.Current.Page).Html;
        }
    }

    private new static System.Web.Mvc.UrlHelper Url {
        get {
            return ((WebViewPage)WebPageContext.Current.Page).Url;
        }
    }
}

@helper RenderBetOdd(BetOddType oddType, BetItemTransport currentBet, string additionalText = null) {
<div title="@(currentBet.DateTimeUtc.ToString("dd'/'MM HH:") + (currentBet.DateTimeUtc.Minute / 10))0">
    @RenderAdvancedParam(oddType, currentBet.AdvancedParam)<b>@currentBet.Odd</b>@RenderOddSrcLink(currentBet) @Html.Raw(additionalText ?? string.Empty)
</div>
}

@helper RenderOddSrcLink(BetItemTransport betItem) {
var broker = BookmakerHtmlHelper.Instance.GetBroker(betItem.BrokerType);
    <a rel="nofollow" class="@broker.IconClass" title="@broker.TargetUrl" @if (!broker.PageUrl.IsNullOrEmpty()) { @Html.Raw(string.Format("href=\"{0}\"", Url.Action("Index", "Bookmaker", new { id = broker.PageUrl })))    }></a>
}

@helper RenderAdvancedParam(BetOddType oddType, float advanced) {
if (DisplayColumnProcessor.OddsWithAdvanced.Contains(oddType)) {
    advanced = DisplayColumnProcessor.OddsToInvertAdvanced.Contains(oddType) ? -advanced : advanced;
    if (DisplayColumnProcessor.OddsWithSymbol.Contains(oddType)) {
        @Html.Raw(string.Format("({0}{1})", advanced > 0 ? "+" : advanced < 0 ? "-" : string.Empty, Math.Abs(advanced)))
    } else {
        @Html.Raw(string.Format("({0})", advanced))
    }
}
}

@helper RenderRoiTable(LanguageType language, SportType sportType, CompetitionTransport competition) {
var hasAnyRoi = false;
<div class="col-sm-5">
    <h4>@LanguageSiteHelper.Instance.GetText(language, SiteTextType.GameRoiWidgetHeader)</h4>
    <table class="table table-bordered text-right">
        <thead>
            <tr><td></td><td>@LanguageSiteHelper.Instance.GetText(language, SiteTextType.GridOddRoi)</td><td title="@LanguageSiteHelper.Instance.GetText(language, SiteTextType.GameRoiHowToGetAlt)">@LanguageSiteHelper.Instance.GetText(language, SiteTextType.GameRoiHowToGet)</td></tr>
        </thead>
        <tbody>
        @foreach (var roiType in RoiType.All.GetFlags<RoiType>()) {
            var betItemTransports = competition.CompetitionItems.FirstOrDefault();
            if (betItemTransports == null) {
                continue;
            }
            var roiValue = BetOddInterfaceHelper.GetBetOddRoi(roiType, sportType, betItemTransports.CurrentBets);
            if (roiValue != default(int)) {
                hasAnyRoi = true;
                var oddTypes = BetOddInterfaceHelper.GetBetOddTypesForRoi(roiType, sportType);
                <tr @if(roiValue > default(int)) {@Html.Raw("class=\"success\"")}>
                    <td>@LanguageSiteHelper.Instance.GetText(language, BetOddInterfaceHelper.RoiTexts[roiType])</td>
                    <td><b>@roiValue.ToString("#0.#'%'")</b></td>
                    <td>
                        @if (roiValue > default(int)) {
                            foreach (var betOddType in oddTypes) {
                                var currentBet = betItemTransports.CurrentBets[betOddType];
                                @RenderBetOdd(betOddType, currentBet, string.Format(" <small><b>({0})</b></small> -> <b>{1}</b>", LanguageSiteHelper.Instance.GetText(language, BetOddInterfaceHelper.BetOddNames[betOddType]), ((100 + roiValue) / currentBet.Odd).ToString("#0.0'%'")))
                            }
                        } else {
                            <span>&mdash;</span>
                        }
                    </td>
                </tr>
            }
        }
        @if (!hasAnyRoi) {
            <tr><td>&mdash;</td><td>&mdash;</td><td>&mdash;</td></tr>
        }
        </tbody>
    </table>
</div>
}
@helper RenderRoiGraph(string dataSource, LanguageType language, CompetitionItemBetShortTransport match) {
    <div class="col-sm-7">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <h4>@LanguageSiteHelper.Instance.GetText(language, SiteTextType.ChartTitle)</h4>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="window.ninjaBag.functions.drawChart('arr');">@LanguageSiteHelper.Instance.GetText(language, BetOddInterfaceHelper.RoiTexts[RoiType.Roi1X2])</button>
            <button type="button" class="btn btn-default" onclick="window.ninjaBag.functions.drawChart('hcap');">@LanguageSiteHelper.Instance.GetText(language, BetOddInterfaceHelper.RoiTexts[RoiType.RoiHandicap])</button>
            <button type="button" class="btn btn-default" onclick="window.ninjaBag.functions.drawChart('tot');">@LanguageSiteHelper.Instance.GetText(language, BetOddInterfaceHelper.RoiTexts[RoiType.RoiTotal])</button>
        </div>
        <br/><br/>
        <div id="linechart_material"></div>
        <script type="text/javascript">
            google.load('visualization', '1.1', { packages: ['line'] });
            google.setOnLoadCallback(function () {
                window.ninjaBag.functions.append({drawChart: function(key) {
                    var col = window.ninjaBag.documentObjects.chartColumn[key].col();
                    var rows = window.ninjaBag.documentObjects.chartColumn[key].data();
                    col.addRows(rows);
                    var chart = new google.charts.Line(document.getElementById('linechart_material'));
                    chart.draw(col, {
                        width: 650,
                        height: 400
                    });
                }});
                window.ninjaBag.documentObjects.append({
                    chartColumn: {
                        arr: {
                            col: function() {
                                var data = new google.visualization.DataTable();
                                data.addColumn('datetime');
                                data.addColumn('number', '@match.Competitor1.Name.Substring(0, Math.Min(match.Competitor1.Name.Length, 3))');
                                data.addColumn('number', 'X');
                                data.addColumn('number', '@match.Competitor2.Name.Substring(0, Math.Min(match.Competitor2.Name.Length, 3))');
                                data.addColumn('number', 'Roi, %');
                                return data;
                            },
                            data: function() {
                                var rows = [];
                                $.each(window.ninjaBag.documentObjects.chartData, function(idx, el) {
                                    rows.push([new Date(el.d), el.w1, el.x, el.w2, el.r1x2 || 0]);
                                });
                                return rows;
                            }
                        },
                        hcap: {
                            col: function() {
                                var data = new google.visualization.DataTable();
                                data.addColumn('datetime');
                                data.addColumn('number', '1');
                                data.addColumn('number', '2');
                                data.addColumn('number', 'Roi, %');
                                return data;
                            },
                            data: function() {
                                var rows = [];
                                $.each(window.ninjaBag.documentObjects.chartData, function(idx, el) {
                                    rows.push([new Date(el.d), el.h1, el.h2, el.rh]);
                                });
                                return rows;
                            }
                        },
                        tot: {
                            col: function() {
                                var data = new google.visualization.DataTable();
                                data.addColumn('datetime');
                                data.addColumn('number', 'Under');
                                data.addColumn('number', 'Over');
                                data.addColumn('number', 'Roi, %');
                                return data;
                            },
                            data: function() {
                                var rows = [];
                                $.each(window.ninjaBag.documentObjects.chartData, function(idx, el) {
                                    rows.push([new Date(el.d), el.tu, el.to, el.rt]);
                                });
                                return rows;
                            }
                        }
                    }
                });
                $.ajax('@dataSource', {
                    dataType: 'json',
                    type: 'POST',
                    success: function(jsResult) {
                        window.ninjaBag.documentObjects.append({ chartData: jsResult });
                        window.ninjaBag.functions.drawChart('arr');
                    }
                });
            });
        </script>
    </div>
}