@model Spywords_Project.Models.PhraseModel


@{
    ViewBag.Title = "Cайты в топ 100 выдачи поисковиков";
}

<h2>@ViewBag.Title</h2>
<br />
@Html.ActionLink("Обновить страницу", "Index")
<hr />
<h3>Добавление</h3>
<form action="@Url.Action("AddPhrase", "SearchPhrase")" class="form-inline" method="POST">
    <div class="form-group" style="width: 300px;">
        <input type="text" class="form-control" name="phrase" id="phrase" placeholder="Введи фразу">
    </div>
    <button type="submit" class="btn btn-primary">Добавить запрос</button>
</form>
<br />

@if (Model.PhraseEntities.Count == 0) {
    return;
}
<div style="background-color: #f7f7f9; border: 1px solid #e1e1e8; border-radius: 4px; margin-bottom: 14px; padding: 9px 14px;">
    Новый запрос обрабатывается системой в течение 2-х минут. Пожалуйста, будте терпеливы :)
</div>
<br/>
<table class="table table-hover">
    <tr>
        <th>Поисковый запрос</th>
        <th>Статистика сбора</th>
        <th class="col-md-1">Экспорт</th>
    </tr>
    @foreach (var phrase in Model.PhraseEntities) {
        <tr>
            <td><a href="@Url.Action("PhraseDomains", "SearchPhrase", new {id=phrase.PhraseAccountID})"><b>@phrase.Text</b></a></td>
            <td>@phrase.CollectedDomainsCount / @phrase.DomainsCount</td>
            <td style="text-align: center;">
                <a class="btn btn-xs" style="background-color: #f7f7f9; border: 1px solid #e1e1e8;" title="Выгрузить результаты в CSV" href="@Url.Action("ExportPrase", new { id=phrase.PhraseAccountID })">&nabla;</a>
            </td>
        </tr>
    }
</table>

