@using CommonUtils.ExtendedTypes
@using Project_B.Code.DataProvider.DataHelper
@using Project_B.Code.Entity.Interface
@using Project_B.Code.Enums
@using Project_B.Models
@model CompetitionRegularModel
@functions{
    static readonly Dictionary<LanguageType, string[]> _shortHeaders = new Dictionary<LanguageType, string[]> {
        {LanguageType.English, new[] {
            "1",
            "2",
            "Hcap1",
            "Hcap2",
            "Under",
            "Over",
        } }
    };
    static readonly Dictionary<LanguageType, string[]> _fullHeaders = new Dictionary<LanguageType, string[]> {
        {LanguageType.English, new[] {
            "1",
            "X",
            "2",
            "1X",
            "12",
            "X2",
            "Hcap1",
            "Hcap2",
            "Under",
            "Over",
        } }
    };

    static readonly Dictionary<LanguageType, Dictionary<SportType, string[]>> _tableHeaders = new Dictionary<LanguageType, Dictionary<SportType, string[]>> {
        {LanguageType.English, new Dictionary<SportType, string[]> {
            {SportType.Basketball, _shortHeaders[LanguageType.English] },
            {SportType.Football, _fullHeaders[LanguageType.English] },
            {SportType.IceHockey, _fullHeaders[LanguageType.English] },
            {SportType.Tennis, _shortHeaders[LanguageType.English] },
            {SportType.Volleyball, _shortHeaders[LanguageType.English] },
        } }
    };

    private static readonly BetOddType[] _shortPercentile = {
        BetOddType.Win1,
        BetOddType.Win2
    };
    private static readonly BetOddType[] _fullPercentile = {
        BetOddType.Win1,
        BetOddType.Draw,
        BetOddType.Win2
    };
    private static readonly Dictionary<SportType, BetOddType[]> _percentileMap = new Dictionary<SportType, BetOddType[]> {
        {SportType.Basketball, _shortPercentile },
        {SportType.Football, _fullPercentile },
        {SportType.IceHockey, _fullPercentile },
        {SportType.Tennis, _shortPercentile },
        {SportType.Volleyball, _shortPercentile },
    };

    static int GetBetPercentile(SportType sportType, Dictionary<BetOddType, BetItem> bets) {
        var percentileMap = _percentileMap[sportType];
        var odds = new float[percentileMap.Length];
        var haveZero = false;
        for (var i = 0; i < percentileMap.Length; i++) {
            var odd = bets[percentileMap[i]].Odd;
            if (odd == default(float)) {
                haveZero = true;
                continue;
            }
            odds[i] = 1 / (odd);
        }
        return haveZero ? default(int) : (int) (100 / odds.Sum() - 100);
    }

    static List<BetOddType> GetSuccessOddTypes(ResultModel resultModel, Dictionary<BetOddType, BetItem> currentBets) {
        var score = ScoreHelper.Instance.GenerateScore(resultModel.ScoreID);
        var successActs = new List<BetOddType> { ScoreHelper.Instance.GetResultType(score.Item1, score.Item2) };
        if (currentBets != null) {
            BetItem betItem;
            if (currentBets.TryGetValue(BetOddType.Handicap1, out betItem)) {
                var advancedParam = betItem.AdvancedParam;
                successActs.Add(advancedParam <= score.Item1 - score.Item2 ? BetOddType.Handicap1 : BetOddType.Handicap2);
                successActs.Add(advancedParam >= score.Item1 - score.Item2 ? BetOddType.Handicap2 : BetOddType.Handicap1);
            }
            if (currentBets.TryGetValue(BetOddType.TotalUnder, out betItem)) {
                successActs.Add(betItem.AdvancedParam >= score.Item1 + score.Item2 ? BetOddType.TotalUnder : BetOddType.TotalOver);
                successActs.Add(betItem.AdvancedParam <= score.Item1 + score.Item2 ? BetOddType.TotalOver : BetOddType.TotalUnder);
            }
        }
        return successActs;
    }

    private static readonly BetOddType[] _oddsWithAdvanced = {
        BetOddType.Handicap1,
        BetOddType.Handicap2,
        BetOddType.TotalUnder,
        BetOddType.TotalOver,
    };

    private static readonly BetOddType[] _oddsToInvertAdvanced = {
        BetOddType.Handicap1
    };

    private static readonly BetOddType[] _oddsWithSymbol = {
        BetOddType.Handicap1,
        BetOddType.Handicap2,
    };

}

@helper RenderAdvancedParam(BetOddType oddType, float advanced){
    if (_oddsWithAdvanced.Contains(oddType)) {
        advanced = _oddsToInvertAdvanced.Contains(oddType) ? -advanced : advanced;
        if (_oddsWithSymbol.Contains(oddType)) {
            @Html.Raw(string.Format("({0}{1})", advanced > 0 ? "+" : advanced < 0 ? "-" : string.Empty, Math.Abs(advanced)))
        } else {
           @Html.Raw(string.Format("({0})", advanced)) 
        }
    }
}

@{
    Model.ResultMap = Model.ResultMap ?? new Dictionary<int, ResultModel>();
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
}

@foreach (var bySportTypes in Model.CompetitionModel.GroupBy(c => c.SportType)) {
    var headers = _tableHeaders[LanguageType.English][bySportTypes.Key];
    <H2><a href="@Url.Action("Index", currentController, new {id = bySportTypes.Key})">@bySportTypes.Key.ToString()</a></H2>
    foreach (var groupedCompetitions in bySportTypes.GroupBy(c => c.Competition.ID).OrderBy(c => c.First().Competition.Name).ToArray()) {
        var competitionModel = groupedCompetitions.First().Competition;
        var itemBetShortModels = groupedCompetitions.ToArray();
        var appendSeeAllLink = false;
        <H3><a href="@Url.Action("Game", currentController, new {id = competitionModel.ID})">@competitionModel.Name</a></H3>
        <table class="table">
            <thead>
            <tr>
                <td class="col-md-1"></td>
                <td class="col-md-2"></td>
                <td></td>
                @foreach (var header in headers) {
                    <td><strong>@header</strong></td>
                }
                <td class="col-md-1"></td>
            </tr>
            </thead>
            @for (var index = 0; index < itemBetShortModels.Length; index++) {
                if (index == Model.LimitToDisplayInGroup) {
                    appendSeeAllLink = true;
                    break;
                }
                var competition = itemBetShortModels[index];
                ResultModel resultModel;
                var successActs = new List<BetOddType>();
                if (Model.ResultMap.TryGetValue(competition.CompetitionID, out resultModel)) {
                    successActs.AddRange(GetSuccessOddTypes(resultModel, competition.CurrentBets));
                }
                <tr @if (resultModel != null) {
                        @Html.Raw("class=\"active\"")
                    }>
                    <td class="text-right">
                        <a href="@Url.Action("Item", "Competition", new {id = competition.CompetitionID})">
                            @competition.DateUtc.ToString("dd.MM.yyyy")<br/>@competition.DateUtc.ToString("HH:mm")</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Competitor", "History", new {id = competition.Competitor1.ID})">@competition.Competitor1.Name</a>
                        <br/>
                        <a href="@Url.Action("Competitor", "History", new {id = competition.Competitor2.ID})">@competition.Competitor2.Name</a>
                    </td>
                    @if (competition.CurrentBets != null && competition.HistoryMaxBets != null && competition.HistoryMinBets != null) {
                        var currentPercentile = GetBetPercentile(bySportTypes.Key, competition.CurrentBets);
                        if (currentPercentile != default(int)) {
                            <td>
                                <small>@GetBetPercentile(bySportTypes.Key, competition.HistoryMaxBets)%</small>
                                <div>
                                    <b>@currentPercentile%</b>
                                </div>
                                <small>@GetBetPercentile(bySportTypes.Key, competition.HistoryMinBets)%</small>
                            </td>
                        }
                        else {
                            <td>&mdash;</td>
                        }
                        foreach (var oddType in BetHelper.SportTypeWithOdds[competition.SportType]) {
                            var currentBet = competition.CurrentBets[oddType];
                            if (currentBet.Odd != default(float)) {
                                var maxBet = competition.HistoryMaxBets[oddType];
                                var minBet = competition.HistoryMinBets[oddType];
                                <td @if (successActs.Contains(oddType)) {
                                        @Html.Raw("class=\"success\"")
                                    }>
                                    <small title="@maxBet.DateTimeUtc.ToString("dd.MM.yyyy HH:00")">@maxBet.Odd</small>
                                    <div title="@currentBet.DateTimeUtc.ToString("dd.MM.yyyy HH:00")">
                                        <small>@RenderAdvancedParam(oddType, currentBet.AdvancedParam)</small><b>@currentBet.Odd</b>
                                    </div>
                                    <small title="@minBet.DateTimeUtc.ToString("dd.MM.yyyy HH:00")">@minBet.Odd</small>
                                </td>
                            }
                            else {
                                <td>&mdash;</td>
                            }
                        }
                    }
                    else {
                        <td>&mdash;</td>
                        foreach (var oddType in BetHelper.SportTypeWithOdds[competition.SportType]) {
                            <td>&mdash;</td>
                        }
                    }
                    <td class="text-center">
                        @if (resultModel != null) {
                            var score = ScoreHelper.Instance.GenerateScore(resultModel.ScoreID);
                            <b>@string.Format("{0}:{1}", score.Item1, score.Item2)</b>
                            if (resultModel.SubScore != null && resultModel.SubScore.Length > 0) {
                                <br/>
                                <small>
                                    @resultModel.SubScore.Select(s => {
                                        var sc = ScoreHelper.Instance.GenerateScore(s);
                                        return string.Format("{0}:{1}", sc.Item1, sc.Item2);
                                    }).StrJoin(", ")
                                </small>
                            }
                        }
                        else {
                            @Html.Raw("&mdash;")
                            ;
                        }
                    </td>
                </tr>
            }
        </table>
        if (appendSeeAllLink) {
            <div class="text-right">
                <a href="@Url.Action("Game", currentController, new {id = competitionModel.ID})">See all <b>@itemBetShortModels.Length</b> matches in <b>@competitionModel.Name</b></a>
            </div>
        }
    }
}