@using CommonUtils.ExtendedTypes
@using Project_B.CodeClientSide.Enums
@using Project_B.CodeClientSide.Helper
@using Project_B.CodeServerSide.DataProvider.DataHelper
@using Project_B.Models
@model StaticPageBaseModel<CompetitionRegularModel>
@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    Model.AdditionHtmlAssets.Add(BookmakerHtmlHelper.BOOKMAKER_S);
}

@foreach (var bySportTypes in Model.ControllerModel.Competitions.GroupBy(c => c.SportType).OrderBy(c => (short)c.Key)) {
    <H2><a href="@Url.Action("Index", currentController, new {id = bySportTypes.Key})">@SportTypeHelper.Instance.GetSportNameForLanguage(Model.CurrentLanguage, bySportTypes.Key)</a></H2>
    foreach (var competitionModel in bySportTypes) {
        var totalElements = competitionModel.CompetitionItems.Count;
        var appendSeeAllLink = totalElements > Model.ControllerModel.LimitToDisplayInGroup;
        competitionModel.CompetitionItems = competitionModel.CompetitionItems.Take(Model.ControllerModel.LimitToDisplayInGroup).ToList();
        <H3><a href="@Url.Action("Item", currentController, new {id = competitionModel.ID})">@competitionModel.Name</a></H3>
        @Html.Partial("Element/_ListCompetitionUniqueWriter", competitionModel)
        if (appendSeeAllLink) {
            <div class="text-right">
                <a href="@Url.Action("Item", "Competition", new {id = competitionModel.ID})">@Html.Raw(
                   LanguageSiteHelper.Instance.GetText(Model.CurrentLanguage, SiteText.GridOddFooterSeeMore).FormatSafe(totalElements, competitionModel.Name))</a>
            </div>
        }
    }
}