@using CommonUtils.ExtendedTypes
@using Project_B.CodeClientSide.Enums
@using Project_B.CodeClientSide.Helper
@using Project_B.Models
@model StaticPageBaseModel<CompetitionRegularModel>
@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    Model.AdditionHtmlAssets.Add(BookmakerHtmlHelper.BOOKMAKER_S);
}

<style type="text/css">
    table.gridOdds {
        margin-bottom: 0;
        table-layout: fixed;
    }
    table.gridOdds > tbody > tr > td, table.gridOdds > thead > tr > td {
        line-height: 1.2;
        padding: 2px 4px;
        vertical-align: middle;
        overflow: hidden;
    }
    h5.lowHeader {
        margin-top: 15px;
        margin-bottom: 5px;
    }
</style>

@foreach (var bySportTypes in Model.ControllerModel.Competitions.GroupBy(c => c.SportType).OrderBy(c => (short)c.Key)) {
    @CompetitionDetailHelper.SportTypeNameHelper(currentController, bySportTypes.Key, Model.CurrentLanguage)
    foreach (var competitionModel in bySportTypes) {
        var totalElements = competitionModel.CompetitionItems.Count;
        var appendSeeAllLink = totalElements > Model.ControllerModel.Filter.LimitToDisplayInGroup;
        competitionModel.CompetitionItems = competitionModel.CompetitionItems.Take(Model.ControllerModel.Filter.LimitToDisplayInGroup).ToList();
        @CompetitionDetailHelper.CompetitionNameWriter(currentController, competitionModel)
        @Html.Partial("Element/_ListCompetitionUniqueWriter", Tuple.Create(competitionModel, Model.ControllerModel.Filter.DisplayColumn))
        if (appendSeeAllLink) {
            <div class="text-right small">
                <a href="@Url.Action("Item", "Competition", new {id = competitionModel.ID})">@Html.Raw(
                   LanguageSiteHelper.Instance.GetText(Model.CurrentLanguage, SiteTextType.GridOddFooterSeeMore).FormatSafe(totalElements, competitionModel.Name))</a>
            </div>
        }
    }
}