@using System.Web.Mvc.Html
@using CommonUtils.ExtendedTypes
@using Project_B.CodeClientSide.Enums
@using Project_B.CodeClientSide.Helper
@using Project_B.CodeServerSide.DataProvider.DataHelper
@using Project_B.Models
@model StaticPageBaseModel<Project_B.CodeClientSide.TransportType.CompetitionAdvancedTransport>
@section Metatags{
    <meta name="document-state" content="Static" />
}
@{
    var sportType = Model.ControllerModel.CompetitionTransport.SportType;
    var competition = Model.ControllerModel.CompetitionTransport;
    Model.AdditionHtmlAssets.Add(BookmakerHtmlHelper.BOOKMAKER_S);
    var match = competition.CompetitionItems.First();
    var source = new {
        player1 = match.Competitor1.Name,
        player2 = match.Competitor2.Name,
        sporttype = SportTypeHelper.Instance.GetSportNameForLanguage(Model.CurrentLanguage, competition.SportType),
        competition = competition.Name,
        date = match.DateUtc.ToString("dd.MM.yyyy")
    };
    Model.StaticPageTransport.Title = Model.StaticPageTransport.Title.HaackFormatSafe(source);
    Model.StaticPageTransport.Description = Model.StaticPageTransport.Description.HaackFormatSafe(source);
    Model.StaticPageTransport.Keywords = Model.StaticPageTransport.Keywords.HaackFormatSafe(source);
    Model.StaticPageTransport.Content = Model.StaticPageTransport.Content.HaackFormatSafe(source);
}

@CompetitionDetailHelper.SportTypeNameHelper("Competition", sportType, Model.CurrentLanguage)
@CompetitionDetailHelper.CompetitionNameWriter("Competition", competition)
<div class="pull-right">
    <a href="@Url.Action("Game", "Competition", new { id = competition.CompetitionItems.First().CompetitionItemID})">Regular</a>
    <a class="active">Live</a>
</div>
@Html.Partial("Element/_ListCompetitionUniqueWriter", Tuple.Create(competition, DisplayColumnType.All.FlagDrop(DisplayColumnType.MaxRoi)))

<div class="row">
    @BetOddRenderHelper.RenderRoiTable(Model.CurrentLanguage, sportType, competition)
    @BetOddRenderHelper.RenderRoiGraph(Url.Action("CompetitionItemLiveGraph", "Data", new { id = match.CompetitionItemID, sportType = sportType }), Model.CurrentLanguage, match)
</div>