@using CommonUtils.ExtendedTypes
@using Project_B.CodeClientSide
@using Project_B.CodeClientSide.Enums
@using Project_B.CodeClientSide.Helper
@model Project_B.Models.StaticPageBaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.StaticPageTransport.Title - @LanguageSiteHelper.Instance.GetText(Model.CurrentLanguage, SiteText.HeaderSiteName)</title>
    @if (!Model.StaticPageTransport.Keywords.IsNullOrEmpty()) {
        <meta name="keywords" content="@Model.StaticPageTransport.Keywords"/>
    }
    @if (!Model.StaticPageTransport.Description.IsNullOrEmpty()) {
        <meta name="description" content="@Model.StaticPageTransport.Description"/>
    }
    @SquishItMinifierStatic.Instance.MvcRenderCachedAssetTag()
</head>
<body>
    @SquishItMinifierStatic.Instance.MvcRenderCachedAssetTag(Model.AdditionHtmlAssets)
    @Html.Partial("_MainMenu", Model)
    <div class="container body-content">
        <div id="container">
            @Html.Raw(ExternalLinkHelper.Instance.ProcessStaticContentForExternalLink(Url, Model, Model.StaticPageTransport.Content))
        </div>
        @RenderBody()
        @Html.Partial("PageEditor/WysiwygEditor", Model)
        <hr />
        @Html.Partial("_Footer", Model)
    </div>
    @Html.Partial("Statistics/YandexMetrika", Model)
    @Html.Partial("Statistics/GoogleAnalytics", Model)
    <script type="text/javascript">
        var expires = new Date();
        expires.setTime(expires.getTime() + (365 * 24 * 60 * 60 * 1000));
        document.cookie = '@ProjectControllerBase.GMT_COOKIE_NAME' + '=' + -new Date().getTimezoneOffset() + ';expires=' + expires.toUTCString();
    </script>
</body>

</html>
