@using Project_B.CodeClientSide.Enums
@using Project_B.CodeClientSide.Helper
@model Project_B.Models.StaticPageBaseModel
@if (Model.IsAuthenticated())
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(LanguageSiteHelper.Instance.GetText(Model.CurrentLanguage, SiteText.HeaderLoginHello) + " " + Model.AccountEmail + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = LanguageSiteHelper.Instance.GetText(Model.CurrentLanguage, SiteText.HeaderAccountManageTitle) })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@LanguageSiteHelper.Instance.GetText(Model.CurrentLanguage, SiteText.HeaderLogOff)</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(LanguageSiteHelper.Instance.GetText(Model.CurrentLanguage, SiteText.HeaderRegister), "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(LanguageSiteHelper.Instance.GetText(Model.CurrentLanguage, SiteText.HeaderLogin), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
