@using Project_B.CodeClientSide.Enums
@using Project_B.CodeClientSide.Helper
@using Project_B.CodeServerSide.DataProvider.DataHelper
@using Project_B.CodeServerSide.Enums
@model Project_B.Models.StaticPageBaseModel

@functions {
    private static readonly SportType[] _sportTypesToNavigation = {
        SportType.Football,
        SportType.Tennis,
        SportType.Basketball,
        SportType.Volleyball,
        SportType.IceHockey
    };
}
@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentLanguage = Model.CurrentLanguage != LanguageType.Default ? Model.CurrentLanguage : LanguageType.English;
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">@LanguageSiteHelper.Instance.GetText(currentLanguage, SiteText.HeaderSiteName)</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(LanguageSiteHelper.Instance.GetText(currentLanguage, SiteText.HeaderCompetition), "Index", "Competition")</li>
                <li>@Html.ActionLink(LanguageSiteHelper.Instance.GetText(currentLanguage, SiteText.HeaderCompetitionLive), "Index", "CompetitionLive")</li>
                <li>@Html.ActionLink(LanguageSiteHelper.Instance.GetText(currentLanguage, SiteText.HeaderHistory), "Index", "History")</li>
                <li>@Html.ActionLink(LanguageSiteHelper.Instance.GetText(currentLanguage, SiteText.HeaderBookmaker), "Index", "Bookmaker")</li>
            </ul>
            @Html.Partial("_LoginPartial", Model)
        </div>
    </div>
</div>
@if (Model.SubNavigationType != SubNavigationType.None) {
    <div class="navbar">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @switch (Model.SubNavigationType) {
                        case SubNavigationType.SportTypes:
                            <li><a href="@Url.Action("Index", currentController, new {id = string.Empty})">@LanguageSiteHelper.Instance.GetText(currentLanguage, SiteText.SubHeaderAllCompetitions)</a></li>
                            foreach (var sportType in _sportTypesToNavigation) {
                                <li><a href="@Url.Action("Index", currentController, new {id = sportType})">@SportTypeHelper.Instance.GetSportNameForLanguage(currentLanguage, sportType)</a></li>
                            }
                            break;
                        case SubNavigationType.Home:
                            break;
                        case SubNavigationType.Bookmakers:
                            break;
                    }
                </ul>
            </div>
        </div>
    </div>
}