@using Project_B.CodeServerSide.Enums
@model MainLogic.WebFiles.BaseModel

@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("RichBet.ru", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Featured", "Index", "Competition")</li>
                <li>@Html.ActionLink("Live", "Index", "CompetitionLive")</li>
                <li>@Html.ActionLink("History", "Index", "History")</li>
            </ul>
            @Html.Partial("_LoginPartial", Model)
        </div>
    </div>
</div>
<div class="navbar">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", currentController, new {id = string.Empty})">All</a></li>
                <li><a href="@Url.Action("Index", currentController, new {id = SportType.Football})">Football</a></li>
                <li><a href="@Url.Action("Index", currentController, new {id = SportType.Tennis})">Tennis</a></li>
                <li><a href="@Url.Action("Index", currentController, new {id = SportType.Basketball})">Basketball</a></li>
                <li><a href="@Url.Action("Index", currentController, new {id = SportType.Volleyball})">Volleyball</a></li>
                <li><a href="@Url.Action("Index", currentController, new {id = SportType.IceHockey})">Hockey</a></li>
            </ul>
        </div>
    </div>
</div>