@using System.Web.Mvc.Html
@using Project_B.CodeClientSide.Helper
@using Project_B.CodeServerSide.DataProvider.DataHelper
@using Project_B.Models
@model StaticPageBaseModel<Project_B.CodeClientSide.TransportType.CompetitionAdvancedTransport>
@{
    var sportType = Model.ControllerModel.CompetitionTransport.SportType;
    var competition = Model.ControllerModel.CompetitionTransport;
    Model.AdditionHtmlAssets.Add(BookmakerHtmlHelper.BOOKMAKER_S);
}

<H2><a href="@Url.Action("Index", "Competition", new {id = sportType})">@SportTypeHelper.Instance.GetSportNameForLanguage(Model.CurrentLanguage, sportType)</a></H2>
<H3><a href="@Url.Action("Item", "Competition", new {id = competition.ID})">@competition.Name</a></H3>
<div class="pull-right">
    <a class="active">Regular</a>
    @if (Model.ControllerModel.HaveLiveData) {
        <a href="@Url.Action("Game", "CompetitionLive", new { id = competition.CompetitionItems.First().CompetitionItemID})">Live</a>
    }
</div>
@Html.Partial("Element/_ListCompetitionUniqueWriter", competition)
